
body{
    margin:0;
    padding:50p;
    font-family: "Roboto Condensed";
    
}

h3{
    text-align: center;
    font-size: 3em;
}
h4{
    font-size: 2.5em;
}

.media img{
    width:1000px;
    height:200px;
}

.media{
    background-color: #232374;
    padding:40px;
    color:whitesmoke;
    font-size: 2em;
}

footer{
    font-size: 2em;
    padding:30px;
    text-align: center;
    background-color: #4444F5;
    color:white;

}

a{
    color:wheat;
}

    
